# 1) Importing the datasets

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
data_yelp = pd.read_csv('yelp_labelled.txt', sep='\t',header=None)

In [ ]:
data_yelp.head()
# review and sentiment
# 0-Negative, 1-Positive for positive review

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [ ]:
# Assign column names
columan_name = ['Review', 'Sentiment']
data_yelp.columns = columan_name

In [ ]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [ ]:
data_yelp.shape
# 1000 rows (reviews), 2 columns (Sentiments)

(1000, 2)

In [ ]:
data_amazon = pd.read_csv('amazon_cell_labelled.txt',sep='\t',header=None)
data_amazon_1 = data_amazon.fillna("0")
data_amazon_1.head()
# review and sentiment
# 0-Negative, 1-Positive for positive review

                                                   0  1
0  I try not to adjust the volume setting to avoi...  0
1  So there is no way for me to plug it in here i...  0
2                        Good case, Excellent value.  1
3        I thought Motorola made reliable products!.  0
4                         Battery for Motorola Razr.  0

In [ ]:
 data_amazon_1.columns = columan_name

In [ ]:
data_amazon_1.head()

                                              Review Sentiment
0  I try not to adjust the volume setting to avoi...         0
1  So there is no way for me to plug it in here i...         0
2                        Good case, Excellent value.         1
3        I thought Motorola made reliable products!.         0
4                         Battery for Motorola Razr.         0

In [ ]:
data_amazon.shape

(14609, 2)

In [ ]:
data_imdb = pd.read_csv('imdb_labelled.txt',sep='\t',header=None)
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [ ]:
data_imdb.columns = columan_name

In [ ]:
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [ ]:
data_imdb.shape

(748, 2)

In [ ]:
# Append all the data in a single dataframe

In [ ]:
data = data_yelp.append([data_amazon, data_imdb],ignore_index=True)
data_1 = data.fillna("0")

In [ ]:
data_1.shape

(16357, 4)

In [ ]:
data_1.head()

   0  1                                             Review Sentiment
0  0  0                           Wow... Loved this place.         1
1  0  0                                 Crust is not good.         0
2  0  0          Not tasty and the texture was just nasty.         0
3  0  0  Stopped by during the late May bank holiday of...         1
4  0  0  The selection on the menu was great and so wer...         1

In [ ]:
# check distribution of sentiments

In [ ]:
data_1['Sentiment'].value_counts()

# 1346 positive reviews
# 1362 Negative reviews

0      14609
1.0      886
0.0      862
Name: Sentiment, dtype: int64

In [ ]:
# check for null values
data_1.isnull().sum()

# no null values in the data

0            0
1            0
Review       0
Sentiment    0
dtype: int64

In [ ]:
x = data_1['Review']
y = data_1['Sentiment']
y=y.astype('int')

# 2) Data Cleaning

In [ ]:
# here we will remove stopwords, punctuations
# as well as we will apply lemmatization

## Create a function to clean the data

In [ ]:
import string

In [ ]:
punct = string.punctuation

In [ ]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
from spacy.lang.en.stop_words import STOP_WORDS

In [ ]:
stopwords = list(STOP_WORDS) # list of stopwords

In [ ]:
# creating a function for data cleaning

In [ ]:
def text_data_cleaning(sentence):
  doc = nlp(sentence)

  tokens = [] # list of tokens
  for token in doc:
    if token.lemma_ != "-PRON-":
      temp = token.lemma_.lower().strip()
    else:
      temp = token.lower_
    tokens.append(temp)
 
  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)
  return cleaned_tokens

In [ ]:
# if root form of that word is not pronoun then it is going to convert that into lower form
# and if that word is a proper noun, then we are directly taking lower form, because there is no lemma for proper noun

In [ ]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")
# stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

## Vectorization Feature Engineering (TF-IDF)

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [ ]:
tfidf = TfidfVectorizer(tokenizer=text_data_cleaning)
# tokenizer=text_data_cleaning, tokenization will be done according to this function

In [ ]:
classifier = LinearSVC()

# 3) Train the model

## Splitting the dataset into the Train and Test set

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
x_train.shape, x_test.shape
# 2198 samples in training dataset and 550 in test dataset

((13085,), (3272,))

In [ ]:
x_train.head()

194      I'm not really sure how Joey's was voted best ...
15660    The movie was so boring, that I sometimes foun...
7401                                                     0
5619                                                     0
2417                                                     0
Name: Review, dtype: object

## Fit the x_train and y_train

In [ ]:
clf = Pipeline([('tfidf',tfidf), ('clf',classifier)])
# it will first do vectorization and then it will do classification

In [ ]:
clf.fit(x_train, y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=<function text_data_cleaning at 0x7eff34fe4560>,
                                 use_idf=True, vocabulary=None)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [ ]:
# in this we don't need to prepare the dataset for testing(x_test)

# 4) Predict the Test set results

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
# confusion_matrix
confusion_matrix(y_test, y_pred)

array([[3068,   44],
       [  26,  134]])

In [ ]:
# classification_report
print(classification_report(y_test, y_pred))
# we are getting almost 77% accuracy

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      3112
           1       0.75      0.84      0.79       160

    accuracy                           0.98      3272
   macro avg       0.87      0.91      0.89      3272
weighted avg       0.98      0.98      0.98      3272

In [ ]:
accuracy_score(y_test, y_pred)
# 76% accuracy

0.9786063569682152

In [ ]:
clf.predict(["Thats a good movie to watch"])
# output is 1, that means review is positive

array([1])